body {
    background-color: #E5E5E5;
}

.header {
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header nav {
    width: 100%;
}

.li-header {
    display: flex;
    gap: 50px;
}

.logo {
    width: 100px;

}

.logo {
    width: 150px;
    margin-right: 40px;

}

#ul-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}


.a-header {
    color: rgb(82, 81, 81);
    font-family: Poppins-Light;
    padding: 10px;


}

.a-header:hover {
    color: rgb(255, 15, 39);
    transition: 0.3s all;

}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    background-color: #0E1E32;
    margin-top: 80px;
}

.logo-footer {
    width: 150px;
}

#ul-footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.li-a {
    display: flex;
    gap: 40px;
}

.a-footer {
    color: rgb(255, 255, 255);
    font-family: Poppins-Light;
}

.li-icons {
    display: flex;
    gap: 40px;
}

.footer-texts {
    max-width: 700px;
    font-size: 18px;
}

.footer-texts p {
    color: #d1c6c6;
    font-family: Poppins-light;
}



.footer-texts span {
    color: #FFF;
    font-family: Poppins-Medium;
}

.fa-wifi {
    font-size: 25px;
    color: rgb(168, 170, 171);

}

.fa-twitter {
    font-size: 25px;
    color: rgb(168, 170, 171);

}

.fa-reddit-alien {
    font-size: 25px;
    color: rgb(168, 170, 171);

}

.fa-facebook-square {
    font-size: 25px;
    color: rgb(168, 170, 171);

}

.container {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;



}

main {

    padding-right: 20px;
    max-width: 1200px;

}


.headline {
    margin-left: 2%;
    background-color: #0E1E32;
    padding: 40px 20px;
    border-radius: 15px;
    color: white;
    margin-bottom: 20px;
    margin-top: 2%;
    text-align: center;
}

.headline h1 {
    font-size: 2rem;
    margin-bottom: 0;
    color: rgb(245, 245, 245);
    font-family: Poppins-SemiBold;
}

.primeira-imagem {
    width: 100%;
    height: 550px;
    max-width: 1080px;
    border: 5px solid #f4f4f4;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 5%;
    object-fit: cover;
    cursor: pointer;
}

.article-details {
    background-color: #fff;
    padding: 30px;
    margin: 30px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.article-header {
    display: flex;
    gap: 20px;
    font-size: 0.9rem;
    color: #777;
    margin-bottom: 20px;
}

.article-content p {
    margin-bottom: 15px;
    font-size: 135%;
    font-family: Poppins-Light;
}



.interaction-icons {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.article-summary hr {
    border: none;
    border-top: 2px solid #9b0d0d;
    margin-bottom: 15px;
}

.article-summary p {
    color: #cc0000;
    font-weight: bold;
    line-height: 1.4;

}

.article-summary strong {
    font-family: Poppins-SemiBold;
}

.sidebar {
    flex: 1;
    padding-left: 20px;
}

.recommended {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recommended h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.recommended-item {
    margin-bottom: 20px;
}

.recommended-item img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.recommended-item p {
    font-size: 0.9rem;
    color: #333;
    line-height: 1.4;
}





/* parte isaac */



.image {
    width: 100%;
    height: 423px;
}

.segunda-parte {

    background-color: #fff;
    padding: 30px;
    margin: 30px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 135%;

}

.texto {
    font-family: Poppins-Light;
}

.comentario {

    color: rgb(0, 0, 0);


}

.imagem-rodape img {
    margin-top: 5%;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: small;

}



/* noticia principal */

.noticia-principal {

    margin-top: 20%;
}

.newsletter-section {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
}

.newsletter-section h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.newsletter-section p {
    font-size: 1em;
    color: #666;
    margin-bottom: 20px;
}

.newsletter-section a {
    color: #007bff;
    text-decoration: none;
}

.btn-newsletter {
    background-color: #ff3b30;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.btn-newsletter:hover {
    background-color: #d62828;
}

.tags-section {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tag {
    background-color: #F6DDDC;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 0.9em;
}

.tag:hover {
    background-color: #ddd;
}

.interaction-section {
    text-align: center;
    margin-bottom: 20px;
}

.interaction-section span {
    margin: 0 10px;
    font-size: 1.2em;
    cursor: pointer;
}

.author-section {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.author-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.author-info h3 {
    margin-bottom: 10px;
}

.author-info p {
    color: #666;
    margin-bottom: 10px;
}

.btn-follow {
    background-color: #EFBFBE;
    color: #C31815;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-follow:hover {
    background-color: #0d95e8;
}



/* noticias mais */

.related-topics {

    margin-top: 5%;
    width: 150%;
    height: 150%;
    margin-left: -24%;

}

.related-topics h3 {
    font-size: 45px;
    margin-bottom: 20px;
    text-align: center;
    font-family: Poppins-Medium;
}

.card-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;

}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 9px;
    width: 100%;
    height: 357px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    align-items: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: 0.7s;
}

.card:hover {
    transform: scale(1.05);
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.card h4 {
    font-size: 18px;
    padding: 5px;
    color: #333;
    max-width: 100%;
    margin-top: 7%;
    margin: 2%;
    font-family: Poppins-SemiBold;

}


.card-actions {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 12px;
    gap: 20px;

}

.card-actions span {
    cursor: pointer;
    font-size: 1.2em;
}

.card-actions span:hover {
    color: red;
}